@page "/morders"
@* @layout PrintLayout *@
@using Aspose.Html
@using Aspose.Html.Converters
@using Aspose.Html.Saving
@using FISH.Model
@using System.Diagnostics.CodeAnalysis

@inject IHttpClientFactory HttpClientFactory
@inject AuthenticationStateProvider AuthenticationStateProvider

<style>
    /* 非列印樣式 */
    .a4-page {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        width: 210mm;
        min-height: 297mm;
        padding: 20mm;
        margin: 10mm auto;
        background: white;
        box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    }

    .order-card {
        border: 1px solid #ccc;
        padding: 10px;
        font-size: smaller;
        border-radius: 5px;
    }

    @@media print {
        body, html {
            width: 210mm;
            height: 297mm;
        }

        .a4-page {
            page-break-after: always; /* 每個a4-page後都開始新的一頁 */
            display: block; /* 改為block布局以適應分頁 */
            width: 210mm;
            min-height: 297mm;
            margin: 0;
            padding: 20mm;
            background: white;
            box-shadow: none; /* 列印時不顯示陰影 */
        }

        .order-card {
            border: 1px solid #ccc;
            width: 207px;
            padding: 10px;
            font-size: smaller;
            border-radius: 5px;
            break-inside: avoid; /* 避免order-card被分割到不同頁面 */
        }
    }
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const orders = document.querySelectorAll('.order-card');
        let currentPage = document.querySelector('.a4-page');
        let currentPageHeight = 0;
        const pageMaxHeight = 297; // 假設 A4 頁面的高度為 297mm

        orders.forEach(order => {
            currentPage.appendChild(order);
            currentPageHeight += order.offsetHeight;

            if (currentPageHeight > pageMaxHeight) {
                // 創建新的分頁容器
                const newPage = document.createElement('div');
                newPage.className = 'a4-page';
                document.body.appendChild(newPage);

                // 重置當前頁面和高度計數器
                currentPage = newPage;
                currentPageHeight = order.offsetHeight;
            }
        });
    });
</script>

<h1>訂單列表</h1>

@if (String.IsNullOrEmpty(NotPriority))
{
    <h3>
        沒有權限 ! 請登入管理帳號  
    </h3>
}
else
{
    @* <ExportPdfButton Icon="fas fa-print" Text="列印" ElementId="a4page" IsAsync="true" OnBeforeExport="OnBeforeExport" OnAfterDownload="OnAfterDownload" AutoDownload="true" FileName="@PdfFileName"></ExportPdfButton> *@
    <Button OnClickWithoutRender="OnExportAsync" Text="導出 Pdf"></Button>
    <BootstrapInputGroup>
        <div class="row g-3">
            <div class="col-12 col-sm-auto">
                <DateTimePicker @bind-Value="@SearchStartDate" />
            </div>
            <div class="col-12 col-sm-auto align-self-end">
                <Button OnClick="@OnSearchAsync" Text="查詢" Icon="fa-solid fa-floppy-disk" />
            </div>
        </div>
    </BootstrapInputGroup>
    @* <Button OnClick="Html2PDF" Text="Html2PDF"></Button> *@
    <Table TItem="Orders" @bind-Items="@OrdersList" Id="a4page" IsExcel="true" IsFixedHeader="true" RenderMode="TableRenderMode.Table"
           IsStriped="true" IsBordered="true"  ShowToolbar="true" ShowDefaultButtons="true" ShowRefresh="true">
        <TableColumns>
            <TableColumn @bind-Field="@context.Name" Text="訂單資訊" TextWrap="true">
                <EditTemplate Context="row">
                    <div class="d-flex disabled">
                        <div class="ps-2">
                            <div>@row.Id</div>
                            <div class="bb-sub">大名       :@Order_Name(row!.Id)</div>
                            <div class="bb-sub">電話       :@Order_ContactNumber(row!.Id)</div>
                            <div class="bb-sub">訂單種類   :@Order_OrderType(row!.Id)</div>
                            <div class="bb-sub">交貨方式   :@Order_DeliveryMethod(row!.Id)</div>
                            <div class="bb-sub">交貨點     :@Order_DeliveryAddress(row!.Id)</div>
                        </div>
                    </div>
                </EditTemplate>
            </TableColumn>
            <TableColumn @bind-Field="@context.Name" Text="訂單時間(創單時間/交貨時間/自取時間)" TextWrap="true">
                <EditTemplate Context="row">
                    <div class="d-flex disabled">
                        <div class="ps-2">
                            <div class="bb-sub">創單時間   :@Order_OrderCreateDateTime(row!.Id)</div>
                            <div class="bb-sub">交貨時間   :@Order_DeliveryTime(row!.Id)</div>
                            <div class="bb-sub">自取時間   :@Order_GetMySelfDateTime(row!.Id)</div>
                            <div class="bb-sub">定價方式   :@Order_PricingMethod(row!.Id)</div>
                        </div>
                    </div>
                </EditTemplate>
            </TableColumn>
            <TableColumn @bind-Field="@context.Name" Text="訂單明細" TextWrap="true">
                <EditTemplate Context="row">
                    <div class="d-flex disabled">
                        <div class="ps-2">
                            @foreach (var item in @Order_Detail(row!.Id))
                            {
                                <div>@item</div>
                            }
                            <hr />
                            <div>合計</div>
                            <hr />
                            <h3>@Order_OrderAmount(row!.Id)</h3>
                        </div>
                    </div>
                </EditTemplate>
            </TableColumn>
        </TableColumns>
    </Table>
}
@* <div id="a4page" class="a4-page">
        @foreach (var order in OrdersList)
        {
            <div class="order-card">
                <strong>姓名:</strong> @order.Name <br >
                <strong>連絡電話:</strong> @order.ContactNumber<br>
                <strong>交貨方式:</strong> @order.DeliveryMethod<br>
                <strong>交貨地址:</strong> @order.DeliveryAddress<br>
                <strong>交貨時間:</strong> @order.DeliveryTime<br>
                <strong>建單時間:</strong> @order.OrderCreateDateTime.ToString("yyyy-MM-dd HH:mm")<br>
                <strong>訂單類型:</strong> @order.OrderType<br>
                <strong>訂單明細:</strong> @order.OrderDetail<br>
                <strong>訂單數量:</strong> @order.Count<br>
                <strong>訂單總金額:</strong> @order.OrderAmount.ToString("C")<br>
                <strong>是否已交貨:</strong> @order.IsDelivered<br>
                <strong>是否已付款:</strong> @order.IsPaid<br>
                <strong>是否已列印:</strong> @order.IsPrinted<br>
             </div>
        }
    </div> *@
@code {
    [Parameter]
    public string LoginEmail { get; set; }
    [Parameter]
    public IEnumerable<Orders>? OrdersList { get; set; } = new List<Orders>();
    [Parameter]
    public DateTime SearchStartDate { get; set; }

    public DateTime SearchEndDate { get; set; }

    private int runi { get; set; } = 0;
    [Inject]
    [NotNull]
    private ToastService? ToastService { get; set; }
    private Task OnBeforeExport() => ToastService.Information("導出Pdf", "導出PDF文件");
    private Task OnAfterDownload(string fileName) => ToastService.Success("下载 Pdf", fileName, true);
    private static string PdfFileName => $"Pdf-{DateTime.Now}.pdf";
    [Parameter]
    public string? NotPriority { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity.IsAuthenticated)
        {
            LoginEmail = authState.User.Identity.Name;
            if (LoginEmail.Equals("mi667700110099@gmail.com") || LoginEmail.Equals("ixhxpns@gmail.com"))
            {
                NotPriority = LoginEmail;
                SearchStartDate = DateTime.Parse($"{DateTime.Now.AddHours(8).Year}/{DateTime.Now.AddHours(8).Month}/{DateTime.Now.AddHours(8).Day} 0:0:0");
                SearchEndDate = DateTime.Parse($"{DateTime.Now.AddHours(8).Year}/{DateTime.Now.AddHours(8).Month}/{DateTime.Now.AddHours(8).Day} 23:59:59");
                var httpClient = HttpClientFactory.CreateClient("FishServerAPI");
                var orders = await httpClient.GetFromJsonAsync<List<Orders>>("api/Order");

                OrdersList = orders?.Where(x => x.OrderCreateDateTime >= SearchStartDate && x.OrderCreateDateTime <= SearchEndDate).ToList();
            }
            else{
                NotPriority = null;
            }
        }

    }
    //orders?.Where(x => SearchEndDate <= x.OrderCreateDateTime).ToList();
    //OrdersList = orders ?? new List<Orders>(); // 直接對 OrdersList 進行檢查和初始化

    public async Task OnSearchAsync()
    {

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();

        if (authState.User.Identity.IsAuthenticated)
        {
            LoginEmail = authState.User.Identity.Name;
            if (LoginEmail.Equals("mi667700110099@gmail.com") || LoginEmail.Equals("ixhxpns@gmail.com"))
            {
                var nowing = SearchStartDate.AddHours(8);
                SearchStartDate = DateTime.Parse($"{nowing.Year}/{nowing.Month}/{nowing.Day} 0:0:0");
                SearchEndDate = DateTime.Parse($"{nowing.Year}/{nowing.Month}/{nowing.Day} 23:59:59");
                var httpClient = HttpClientFactory.CreateClient("FishServerAPI");
                var orders = await httpClient.GetFromJsonAsync<List<Orders>>("api/Order");

                OrdersList = orders = orders?.Where(x => x.OrderCreateDateTime >= SearchStartDate && x.OrderCreateDateTime <= SearchEndDate).ToList();
            }
        }
        else
        {
            
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {


        }
    }



    [Inject]
    [NotNull]
    private IHtml2Pdf? Html2PdfService { get; set; }

    [Inject]
    [NotNull]
    private DownloadService? DownloadService { get; set; }

    [Inject]
    [NotNull]
    private IJSRuntime? JSRuntime { get; set; }
    [Inject]
    [NotNull]
    private NavigationManager? NavigationManager { get; set; }

    private async Task OnExportAsync()
    {
        // 通过脚本 getHtml 获得 table 表格 Html
        var module = await JSRuntime.LoadUtility();
        var html = await module.GetHtml("a4page");
        if (!string.IsNullOrEmpty(html))
        {
            // 通过模板生成完整的 Html
            var htmlString = @"
                <!DOCTYPE html>

                <html lang=""en"" xmlns=""http://www.w3.org/1999/xhtml"">
                <head>
                    <meta charset=""utf-8"" />
                </head>
                <body class=""p-3"">";

            htmlString += html;

            htmlString += @"
                </body>
                </html>
                ";

            // 增加网页所需样式表文件
            using var stream = await Html2PdfService.PdfStreamFromHtmlAsync(htmlString, [$"{NavigationManager.BaseUri}_content/BootstrapBlazor/css/bootstrap.blazor.bundle.min.css"]);

            // 下载 Pdf 文件
            await DownloadService.DownloadFromStreamAsync($"table-{DateTime.Now:HHmmss}.pdf", stream);

            // 提示文件下载成功
            await ToastService.Success("Pdf 导出", "通过表格 Id 导出 Pdf 文件成功");
        }

    }
    public async Task Html2PDF()
    {
        // 網址
        Url url = new Url("https://localhost:7229/morders"); // 修正 URL

        // 初始化 PdfSaveOptions
        var options = new PdfSaveOptions();

        // 將 HTML 代碼轉換為 PDF
        Converter.ConvertHTML(url, options, "~/");
    }

    public string? Order_Name(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.Name;
        return bResult;
    }
    public string? Order_ContactNumber(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.ContactNumber;
        return bResult;
    }
    public string? Order_DeliveryMethod(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.DeliveryMethod;
        return bResult;
    }
    public string? Order_DeliveryTime(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.DeliveryTime.ToString();
        return bResult;
    }
    public string? Order_DeliveryAddress(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.DeliveryAddress;
        return bResult;
    }
    public string? Order_OrderType(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.OrderType;
        return bResult;
    }
    public string? Order_OrderCreateDateTime(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.OrderCreateDateTime.ToString();
        return bResult;
    }
    public string? Order_GetMySelfDateTime(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.GetMySelfDateTime.ToString();
        return bResult;
    }
    public string? Order_OrderAmount(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.OrderAmount.ToString();
        return bResult;
    }
    public string? Order_PricingMethod(int Id)
    {
        var aResult = OrdersList?.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult?.PricingMethod.ToString();
        return bResult;
    }
    public IEnumerable<string> Order_Detail(int Id)
    {
        var aResult = OrdersList.Where(y => y.Id == Id).FirstOrDefault();
        var bResult = aResult.OrderDetail.ToString().Replace("\n", "").Split(";", StringSplitOptions.RemoveEmptyEntries);
        var sResult = new List<string>();
        if (aResult.OrderDetail.IndexOf(';') == -1)
        {
            sResult.Add(aResult.OrderDetail);
            return sResult;
        }
        foreach (var item in bResult)
        {
            sResult.Add($"{item.Split("=")[0]} -> ${item.Split("=")[1]}");
        }

        return sResult;
    }
}
